body { background-color: black; color: white; }

.details { font-size: 5vw; color: #D3D3D3; text-align: center; }

section { margin-bottom: 40px; margin-top: 40px; }

.button { margin-bottom: 20px; margin-top: 20px; margin-left: 25vw; font-size: 3vw; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }



